@mixin object-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  color: transparent;
  transition: all 0.3s ease;
  @include object-center;
  justify-content: flex-start;
  position: relative;
  transition: all 0.3s ease;
  width: min-content;
  padding: 0 2rem;

  .profilePicture {
    position: absolute;
    z-index: 0;
  }

  .overlay {
    cursor: pointer;
  }

  &:hover {
    .overlay {
      @include object-center;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 10000;
      border-radius: 50%;
      transition: background-color 0.2s ease-in-out;
      margin-bottom: 0;
    }
  }
}
